$primary : #016690;
$secondary: #e0ddb2;


$font-family-base: Arial, Helvetica, sans-serif;
$font-size-base: 1.25rem;

$card-bg: $secondary;
$card-border-color: #dad6ab;
$card-border-width:2px;
$link-color:#016690;

